@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
.title-text {
  color: #ff6f60;
  font-family: Roboto, sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase; }

.text {
  color: #37383d;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase; }

.button {
  box-shadow: 0 0 27px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  background-color: #ff6f60;
  border: none;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  text-align: center;
  padding: 10px 50px;
  font-size: 1.5rem; }
  @media screen and (max-width: 500px) {
    .button {
      padding: 10px 20px; } }

.list {
  list-style-type: none;
  margin: 0;
  padding-left: 80px;
  padding-top: 40px; }
  .list__item {
    position: relative;
    text-transform: none;
    font-size: 1.625rem; }
    .list__item::before {
      color: #ff6f60;
      margin-right: 30px;
      position: absolute;
      left: -40px;
      top: -5px; }
  @media screen and (max-width: 500px) {
    .list {
      padding: 10px; } }

.section-form {
  position: relative;
  margin-right: 15px;
  margin-left: 15px;
  box-sizing: border-box;
  flex: 0 0 calc(100% / 12 * 7 - 30px); }
  @media screen and (max-width: 2000px) {
    .section-form {
      flex: 0 0 calc(100% / 12 * 6 - 30px); } }
  @media screen and (max-width: 1450px) {
    .section-form {
      flex: 0 0 calc(100% / 12 * 8 - 30px); } }
  @media screen and (max-width: 1050px) {
    .section-form {
      flex: 0 0 calc(100% / 12 * 11 - 30px); } }
  .section-form__title {
    font-size: 5rem;
    font-weight: 700;
    padding-bottom: 20px;
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 0; }
    @media screen and (max-width: 500px) {
      .section-form__title {
        font-size: 3rem; } }
    .section-form__title span {
      position: relative; }
      .section-form__title span::before {
        content: url("./../img/crown.png");
        position: absolute;
        top: -45px;
        left: -20px; }
        @media screen and (max-width: 900px) {
          .section-form__title span::before {
            top: -35px; } }
        @media screen and (max-width: 500px) {
          .section-form__title span::before {
            top: -55px; } }
    .section-form__title::after {
      content: '';
      border: 1px solid #ff6f60;
      position: absolute;
      left: 0;
      right: 0;
      width: 90%;
      margin: auto;
      bottom: 0; }
  .section-form__subtitle {
    font-size: 1.875rem;
    text-align: center; }

.wrp {
  display: flex;
  align-items: center;
  justify-content: center; }

.section-present {
  padding: 50px 0;
  position: relative; }
  @media screen and (max-width: 1050px) {
    .section-present {
      justify-content: center; } }

.present {
  position: absolute;
  right: 400px;
  bottom: 0;
  z-index: -1; }
  @media screen and (max-width: 1050px) {
    .present {
      display: none; } }
  @media screen and (max-width: 2000px) {
    .present {
      right: 300px; } }
  @media screen and (max-width: 1450px) {
    .present {
      right: 200px; } }
  .present div {
    width: 550px; }
    @media screen and (max-width: 2000px) {
      .present div {
        width: 500px; } }
    @media screen and (max-width: 1450px) {
      .present div {
        width: 450px; } }
    .present div:nth-child(1) {
      position: relative;
      top: 100px;
      z-index: 1; }
    .present div:nth-child(2) {
      position: absolute;
      top: 0;
      left: 250px; }
  .present::after {
    content: '';
    position: absolute;
    width: 600px;
    height: 600px;
    background-color: rgba(134, 163, 250, 0.3);
    border-radius: 50%;
    top: 70px;
    left: -40px;
    z-index: -1; }
  .present img {
    width: 100%; }

.info {
  display: flex;
  align-items: center;
  padding-bottom: 50px; }
  @media screen and (max-width: 500px) {
    .info {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start; } }

.date {
  padding-left: 40px;
  display: flex;
  align-items: center; }
  @media screen and (max-width: 500px) {
    .date {
      padding: 0; } }
  .date img {
    padding-right: 20px; }

.form {
  background-color: #b8c7ff;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 40px;
  max-width: 650px;
  margin-top: 60px; }
  @media screen and (max-width: 2000px) {
    .form {
      max-width: 480px; } }
  .form::before {
    content: url("./../img/gift.png");
    position: absolute;
    top: 40px;
    left: -80px; }
    @media screen and (max-width: 900px) {
      .form::before {
        transform: scale(0.6);
        top: -80px;
        left: -30px; } }
  .form::after {
    content: url("./../img/arrow@5x.png");
    position: absolute;
    top: 70px;
    right: -20px; }
    @media screen and (max-width: 2000px) {
      .form::after {
        top: 50px;
        right: -40px; } }
    @media screen and (max-width: 900px) {
      .form::after {
        top: 40px;
        right: -10px;
        transform: scale(0.8); } }
    @media screen and (max-width: 500px) {
      .form::after {
        top: 20px;
        right: -10px;
        transform: scale(0.6); } }
  .form__title {
    color: #37383d;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin: 0; }
  .form__subtitle {
    text-transform: lowercase;
    text-align: center;
    margin: 0 40px;
    margin-bottom: 20px; }
  .form form {
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media screen and (max-width: 500px) {
      .form form {
        align-items: stretch; } }
  .form input {
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 2px;
    margin-bottom: 10px;
    padding: 10px;
    padding-left: 20px;
    min-width: 350px; }
    @media screen and (max-width: 500px) {
      .form input {
        min-width: 0; } }
  .form__button {
    font-size: 1.75rem;
    margin-top: 10px; }

.section-want {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0;
  background-color: #f4f8ff;
  box-shadow: 0 13px 128px rgba(0, 0, 0, 0.1);
  position: relative; }
  .section-want__title {
    font-size: 3.125rem;
    color: #37383d;
    text-align: center; }
  .section-want__subtitle {
    font-size: 2.25rem;
    color: #37383d;
    text-align: center; }
    .section-want__subtitle span {
      color: #ff6f60; }
  .section-want__button {
    font-size: 1.5rem;
    padding: 30px 60px;
    margin: auto; }
    @media screen and (max-width: 500px) {
      .section-want__button {
        padding: 10px 20px; } }
  @media screen and (max-width: 1050px) {
    .section-want {
      padding: 50px; } }

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3; }
  .main img {
    z-index: 1; }
    @media screen and (max-width: 900px) {
      .main img {
        display: none; } }

.section-want__list {
  counter-reset: counter-name;
  max-width: 650px; }
  .section-want__list .list__item {
    counter-increment: counter-name;
    padding-bottom: 20px; }
    .section-want__list .list__item::before {
      content: counter(counter-name);
      font-family: Roboto, sans-serif;
      font-size: 1.875rem;
      font-weight: 700; }
    .section-want__list .list__item span {
      font-weight: 700; }

.circle-1 {
  position: absolute;
  content: '';
  background-color: #006cff;
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
  opacity: .2;
  z-index: 4;
  top: 50px;
  left: 250px; }

.circle-2 {
  position: absolute;
  content: '';
  background-color: #006cff;
  border-radius: 50%;
  width: 24vw;
  height: 24vw;
  opacity: .2;
  z-index: 4;
  top: 350px;
  left: 10px; }

.circle-3 {
  position: absolute;
  content: '';
  background-color: #006cff;
  border-radius: 50%;
  width: 14vw;
  height: 14vw;
  opacity: .2;
  z-index: 4;
  top: 150px;
  right: 100px; }

.circle-4 {
  position: absolute;
  content: '';
  background-color: #006cff;
  border-radius: 50%;
  width: 8vw;
  height: 8vw;
  opacity: .2;
  z-index: 4;
  bottom: 150px;
  right: 70px; }

.section-plan {
  padding: 50px 0;
  background-color: #fffafa; }
  .section-plan .container {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .section-plan__title {
    font-size: 3.125rem;
    color: #36373c;
    text-align: center; }
    @media screen and (max-width: 500px) {
      .section-plan__title {
        font-size: 2rem; } }
  .section-plan__subtitle {
    font-size: 1.875rem;
    color: #ff6f60;
    font-weight: 700;
    text-align: center; }
    @media screen and (max-width: 500px) {
      .section-plan__subtitle {
        font-size: 1.5rem; } }
  .section-plan__row {
    flex-direction: column;
    align-items: center; }
  .section-plan .wrp {
    box-shadow: 1px 4px 35px rgba(0, 0, 0, 0.16); }
  .section-plan__button {
    font-size: 1.875rem;
    border-radius: 5px;
    padding: 25px 70px; }
    @media screen and (max-width: 500px) {
      .section-plan__button {
        padding: 10px 20px; } }
    .section-plan__button_active {
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.32) 0%, rgba(0, 0, 0, 0) 100%); }
    .section-plan__button_passive {
      background-color: #fdf0ee;
      color: #5b5b5b; }

.section-plan__list {
  max-width: 650px;
  box-sizing: border-box; }
  .section-plan__list .list__item {
    font-size: 1.625rem;
    margin-bottom: 40px;
    line-height: 1.6em; }
    .section-plan__list .list__item::before {
      content: '';
      background-color: #ff6f60;
      border-radius: 50%;
      box-shadow: 0 5px 16px rgba(0, 0, 0, 0.33);
      width: 15px;
      height: 15px;
      top: 10px; }

.container {
  width: 80%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

html {
  font-size: 22px; }
  @media screen and (max-width: 2000px) {
    html {
      font-size: 16px; } }
  @media screen and (max-width: 900px) {
    html {
      font-size: 13px; } }
  @media screen and (max-width: 500px) {
    html {
      font-size: 9px; } }
