.section-plan {
  padding: 50px 0;
  & .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  background-color: #fffafa;

  &__title {
    font-size: 3.125rem;
    color: #36373c;
    text-align: center;
    @include media($b-sm) {
      font-size: 2rem;
    }
  }
  &__subtitle {
    font-size: 1.875rem;
    color: $active-color;
    font-weight: 700;
    text-align: center;
    @include media($b-sm) {
      font-size: 1.5rem;
    }
  }

  &__row {
    flex-direction: column;
    align-items: center;
  }

  & .wrp {
    box-shadow: 1px 4px 35px rgba(0, 0, 0, 0.16);
  }

  &__button {
    font-size: 1.875rem;
    border-radius: 5px;
    padding: 25px 70px;

    @include media($b-sm) {
      padding: 10px 20px;
    }
    &_active {
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.32) 0%, rgba(0, 0, 0, 0) 100%);
    }
    &_passive {
      background-color: #fdf0ee;
      color: #5b5b5b;
    }

  }
}

.section-plan__list {
  max-width: 450px;



  & .list__item {
    font-size: 1.625rem;
    margin-bottom: 40px;
    line-height: 1.6em;

    &::before {
      content: '';
      background-color: $active-color;
      border-radius: 50%;
      box-shadow: 0 5px 16px rgba(0, 0, 0, 0.33);
      width: 15px;
      height: 15px;
      top: 10px;
    }
  }
}