.section-form {
  @include col();
  @include make-col(7);


  @include media($b-xxl) {
    @include make-col(6);
  }

  @include media($b-xl) {
    @include make-col(8);
  }
  @include media($b-lg) {
    @include make-col(11);
  }

  &__title {
    font-size: 5rem;
    font-weight: 700;
    padding-bottom: 20px;
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 0;

    @include media($b-sm) {
      font-size: 3rem;
    }
    & span {
      position: relative;

      &::before {
        content: url('./../img/crown.png');
        position: absolute;
        top: -45px;
        left: -20px;

        @include media($b-md) {
          top: -35px;
        }
        @include media($b-sm) {
          top: -55px;
        }
      }
    }

    &::after {
      content: '';
      border: 1px solid $active-color;
      position: absolute;
      left: 0;
      right: 0;
      width: 90%;
      margin: auto;
      bottom: 0;
    }
  }
  &__subtitle {
    font-size: 1.875rem;
    text-align: center;
  }
}
.wrp {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-present {
  padding: 50px 0;
  position: relative;

  @include media($b-lg) {
    justify-content: center;
  }
}

.present {
  @include media($b-lg) {
    display: none;
  }
  position: absolute;

  @include media($b-xxl) {
    right: 300px;
  }
  @include media($b-xl) {
    right: 200px;
  }
  right: 400px;
  bottom: 0;
  z-index: -1;

  & div {

    @include media($b-xxl) {
      width: 500px;
    }
    @include media($b-xl) {
      width: 450px;
    }

    width: 550px;

    &:nth-child(1) {
      position: relative;
      top: 100px;
      z-index: 1;
    }
    &:nth-child(2) {
      position: absolute;
      top: 0;
      left: 250px;
    }
  }

  &::after {
    content: '';
    position: absolute;
    width: 600px;
    height: 600px;
    background-color: rgba(134, 163, 250, .3);
    border-radius: 50%;
    top: 70px;
    left: -40px;
    z-index: -1;

  }
  img {
    width: 100%;
  }
}


.info {
  display: flex;
  align-items: center;
  padding-bottom: 50px;

  @include media($b-sm) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.date {
  padding-left: 40px;

  @include media($b-sm) {
    padding: 0;
  }
  display: flex;
  align-items: center;
  img {
    padding-right: 20px;
  }
}


.form {
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;

  border-radius: 5px;
  box-sizing: border-box;
  padding: 40px;
  max-width: 650px;

  @include media($b-xxl) {
    max-width: 480px;
  }

  margin-top: 60px;

  &::before {
    content: url('./../img/gift.png');
    position: absolute;
    top: 40px;
    left: -80px;

    @include media($b-md) {
     transform: scale(.6);
      top: -80px;
      left: -30px;
    }
  }
  &::after {
    content: url('./../img/arrow@5x.png');
    position: absolute;
    top: 20px;
    right: -20px;
    @include media($b-md) {
      display: none;
    }
  }

  &__title {
    color: $primary-color;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin: 0;
  }
  &__subtitle {
    text-transform: lowercase;
    text-align: center;
    margin: 0 40px;
    margin-bottom: 20px;
  }

  & form {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include media($b-sm) {
      align-items: stretch;
    }
  }

  & input {
    font-family: $font-roboto;
    border: none;
    border-radius: 2px;
    margin-bottom: 10px;
    padding: 10px;
    padding-left: 20px;
    min-width: 350px;
    @include media($b-sm) {
      min-width: 0;
    }

  }


  &__button {
    font-size: 1.75rem;
    margin-top: 10px;
  }
}