@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import "variables";
@import "v-grid";
@import "circle";
@import "text";
@import "button";
@import "list";
@import "section-form";
@import "section-want";
@import "section-plan";


.container {
  @include container();
}

.row {
  @include row();
}


html {
  font-size: 22px;

  @include media($b-xxl) {
    font-size: 16px;
  }

  @include media($b-md) {
    font-size: 13px;
  }

  @include media($b-sm) {
    font-size: 9px;
  }
}

